div,li{
	box-sizing: border-box;
}
.sub-title{
	color: #999;
	font-size: 14px;
}
.color1{
	color: #e36844;/*网易红*/
}
.color2{
	color: #999;
}
.color3{
	color: #bfae8c;/*网易主色*/
}
.color4{
	color:#fff;
}
.titlename{
	font-size: 20px;
	font-weight: 700px;
}
.span{
	font-size: 13px;
}
.manejian{
	color: #fff;
	background-color: #e36844;
	padding: 3px 5px;
	margin-right: 5px;
}
.manejian{
	background-color: #e36844;
	color: #fff;
	line-height: 20px;
	padding: 3px 5px;
}
.xp{
	background-color: #b4a078;
	color: #fff;
	line-height: 20px;
	padding: 3px 5px;
}
.bp{
	background-color: #f28f2d;
	color: #fff;
	line-height: 20px;
	padding: 3px 5px;
}




.content1{
	border-top: 1px solid #ededed;
}
.content1 .wrap,
.content2 .wrap,
.content3 .wrap{
	width: 1090px;
	margin: 0 auto;
}
.content1>.wrap>.title{
	height: 52px;
	padding: 20px 0;
}
.content1>.wrap>.title a:hover{
	text-decoration: underline;
}
.content1 .bottom::after{
	content: "";
	display: block;
	clear: both;
}
.content1 .bottom .photo{
	float: left;
	width: 524px;
	height: 440px;
	position: relative;
}
.content1 .bottom .photo>ul{
	height: 440px;
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content1 .bottom .photo>ul>li{
	width: 74px;
	height: 74px;
}
.content1 .bottom .photo>ul>li:first-child{
	background-color: #f4f4f4;
}
.content1 .bottom .photo>ul>li:hover{
	border: 1px solid #b4a078;
}
.content1 .bottom .photo>ul>li:hover>.large-photo{
	display: block;
}
.content1 .bottom .photo>ul>li img{
	width: 100%;
}
.content1 .bottom .photo .large-photo{
	width: 428px;
	height: 440px;
	position: absolute;
	background-color: #f4f4f4;
	top: 0;
	left: -450px;
	display: none;
	border: 1px solid #ededed;
}
.content1 .bottom .photo .large-photo img{
	height: 100%;
}
.content1 .bottom .photo>ul>li:first-child .large-photo{
	display: block;
}
.content1 .bottom .desc{
	float: right;
	width: 504px;
	height: 593px;
}
.content1 .bottom .desc .top::after{
	content: "";
	display: block;
	clear: both;
}
.content1 .bottom .desc .title{
	float: left;	
}
.content1 .bottom .desc .top .toptitle{
	line-height: 20px;
	margin-bottom: 5px;
}
.content1 .bottom .desc .haoping{
	float: right;
}
.content1 .bottom .desc .haoping .name{
	font-size: 13px;
	font-weight: 700px;
}
.content1 .bottom .desc .haoping:hover>.name{
	color: #bfae8c;
}
.content1 .bottom .desc .xianshi{
	margin-top: 20px;
}
.content1 .bottom .desc .xianshi .toptitle{
	height: 36px;
	background-color: #e36844;
}
.content1 .bottom .desc .xianshi .toptitle span{
	color: #fff;
	line-height: 36px;
	margin-left: 8px;
}
.content1 .bottom .desc .xianshi .toptitle span:first-child{
	font-size: 16px;
	font-weight: 400;
}
.content1 .bottom .desc .xianshi .bottomneirong{
	height: 217px;
	padding-bottom: 13px;
	background-color: #f5f3ef;
	padding-top: 16px;
}
.content1 .bottom .desc .xianshi .bottomneirong table{
	margin-left: 10px;
	border-bottom: 1px dotted #999;
}
.content1 .bottom .desc .xianshi .bottomneirong td{
	height: 28px;
	line-height: 28px;
	color: #666;
	font-size: 13px;
}
.content1 .bottom .desc .xianshi .bottomneirong tr>td:first-child{
	width: 55px;
}
.content1 .bottom .desc .xianshi .bottomneirong tr:first-child>td>span:first-child{
	font-size: 18px;
	font-weight: 700;
}
.content1 .bottom .desc .xianshi .bottomneirong tr:first-child>td>span:nth-child(2){
	font-size: 28px;
	font-weight: 700;
}
.content1 .bottom .desc .xianshi .bottomneirong tr:first-child>td>a:hover{
	color: #bfae8c;
}
.content1 .bottom .desc .xianshi .bottomneirong tr:nth-child(2)>td>span{
	background-color: #fff;
	border-top: 1px solid #e36844;
	border-bottom: 1px solid #e36844;
	margin-right: 5px;
	padding: 2px 5px;
}
.content1 .bottom .desc .xianshi .bottomneirong tr:nth-child(2)>td>a:hover{
	text-decoration: underline #e36844;
}
.content1 .bottom .desc .xianshi .bottomneirong tr:nth-child(3)>td>a:hover{
	text-decoration: underline #e36844;
}
.content1 .bottom .desc .xianshi .bottomneirong .fuwu{
	margin-top: 10px;
	margin-left: 13px;
	color: #666;
	font-size: 13px;
}
.content1 .bottom .desc .xianshi .bottomneirong .fuwu .top span{
	margin-right: 5px;
}
.content1 .bottom .desc .xianshi .bottomneirong .fuwu .top span:nth-child(2){
	margin-left: 20px;
}
.content1 .bottom .desc .xianshi .bottomneirong .fuwu .bottom{
	margin-left: 55px;
}
.content1 .bottom .desc .xianshi .bottomneirong .fuwu .bottom span{
	margin-right: 5px;
}
.content1 .bottom .desc .tiaoxuan{
	margin-top: 20px;
}
.content1 .bottom .desc .tiaoxuan table{
	margin-left: 10px;
	line-height: 50px;
	font-size: 13px;
}
.content1 .bottom .desc .tiaoxuan tr>td:first-child{
	width: 54px;
}
.content1 .bottom .desc .tiaoxuan ul>li{
	float: left;
	margin-right: 10px;
	background-color: #f4f4f4;
	margin-bottom: 17px;
	border: 1px solid #ededed;
}
.content1 .bottom .desc .tiaoxuan tr:first-child>td:last-chidl::after{
	content: "";
	display: block;
	clear: both;
}
.content1 .bottom .desc .tiaoxuan tr:nth-child(2) a{
	padding: 8px 25px;
	border: 1px solid #ededed;
	margin-right: 10px;
	margin-bottom: 17px;
}
.content1 .bottom .desc .tiaoxuan tr:last-child div{
	width: 134px;
	height: 32px;
	border: 1px solid #ededed;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
}
.content1 .bottom .desc .tiaoxuan tr:last-child div::after{
	content: "";
	display: block;
	clear: both;
}
.content1 .bottom .desc .tiaoxuan tr:last-child div div:first-child,
.content1 .bottom .desc .tiaoxuan tr:last-child div div:last-child{
	width: 36px;
	float: left;
	font-size: 22px;
}
.content1 .bottom .desc .tiaoxuan tr:last-child div div:nth-child(2){
	width: 60px;
	float: left;
}
.content1 .bottom .desc .button{
	margin-top: 20px;
	margin-left: 12px;
}
.content1 .bottom .desc .button a{
	padding: 10px 30px;
	line-height:50px;
	font-size: 18px;
	border: 1px solid #bfae8c;
	margin-right: 10px;
}
.content1 .bottom .desc .button>a:first-child{
	background-color: #f4f4f4;
}
.content1 .bottom .desc .button>a:first-child:hover{
	background-color: #fff;
}
.content1 .bottom .desc .button>a:nth-child(2){
	background-color: #b4a078;
}
.content1 .bottom .desc .button>a:nth-child(2):hover{
	background-color: #c0ae8a	;
}
.content1 .bottom .desc .button>a:last-child{
	padding: 10px 5px;
}





.content2{
	margin-top: 20px;
}
.content2 .title{
	background-color: #f5f5f5;
	border: 1px solid #ededed;
}
.content2 .title span{
	font-size: 17px;
	line-height: 44px;
	margin-left: 20px;
}
.content2 .bottom .link{
	width: 930px;
	padding-top: 12px;
	margin: auto;
	margin-bottom: 28px;
	position: relative;
}
.content2 .bottom .link::after{
	content: "";
	display: block;
	clear: both;
}
.content2 .bottom .link>ul{
	display: flex;
	justify-content: space-between;
}
.content2 .bottom .link>ul>li{
	height: 279px;
	width: 210px;
	float: left;
}
.content2 .bottom .link>ul>li .img{
	width: 210px;
	height: 210px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.content2 .bottom .link>ul>li .img img{
	transition: transform 1s;
}
.content2 .bottom .link>ul>li:hover>.img img{
	transform: scale(1.1);
}
.content2 .bottom .link>ul>li .img .xiaobiao{
	background-color: #f4f0ea;
	border-radius: 5px;
	border: 1px solid #bfae8c;
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 2px 5px;
}
.content2 .bottom .link>ul>li .img .xiaobiao a{
	color: #bfae8c;
}
.content2 .bottom .link>ul>li .font{
	text-align: center;
	margin-top: 2px;
}
.content2 .bottom .link>ul>li .font .font_top{
	height: 20px;
	margin-bottom: 3px;
}
.content2 .bottom .link>ul>li .font .font_top>span{
	color: #fff;
	line-height: 20px;
	padding: 3px 5px;
}
.content2 .bottom .link>ul>li .font .name{
	font-size: 14px;
	line-height:20px;
	font-weight: 600;
	margin-bottom: 4px;
}
.content2 .bottom .link>ul>li .font .name a:hover{
	color: #bfae8c;
}
.content2 .bottom .link>ul>li .font .price{
	color: #be4141;
	font-size: 14px;
}
.content2 .bottom .link>ul>li .font .price i{
	font-size: 18px;
}
.content2 .left_button,
.content2 .right_button{
	position: absolute;
	font-size: 50px;
}
.content2 .left_button i,
.content2 .right_button i{
	color: #d0c4af;
}
.content2 .left_button i:hover,
.content2 .right_button i:hover{
	color: #b19e7a;
}
.content2 .left_button{
	left: -50px;
	top: 50%;
	margin-top: -25px;
}
.content2 .right_button{
	right: -50px;
	top: 50%;
	margin-top: -25px;
}




.content3{
	margin-top: 20px;
}
.content3 .wrap::after{
	content: "";
	display: block;
	clear: both;
}
.content3 .left{
	width: 750px;
	margin-right: 40px;
	float: left;
}
.content3 .left .title{
	padding-bottom:50px;
}
.content3 .left .title>ul::after{
	content: "";
	display: block;
	clear: both;
}
.content3 .left .title>ul>li{
	float: left;
	width: 125px;
}
.content3 .left .title>ul>li>.name{
	text-align: center;
	line-height: 42px;
	height: 42px;
	background-color: #f5f5f5;
	border: 1px solid #ededed;
}
.content3 .left .title>ul>li:last-child{
	width: 248px;
}
.content3 .left .title>ul>li a{
	font-size: 14px;
}
.content3 .left .title>ul>li a:hover{
	color: #bfae8c;
}
.content3 .left .title>ul>li:nth-child(1) .neirong{
	width: 750px;
	position: relative;
	top: 42px;
	left: 0;
	/*display: none;*/
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping table{
	text-align: left;
	line-height: 24px;
	margin-top: 20px;
	font-size: 14px;
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping td{
	border-bottom: 1px dotted #ccc;
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping td:first-child{
	width: 105px;
	padding: 8px 0;
	padding-left: 30px;
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping td:last-child{
	width: 700px;	
	color: #999;
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping tr:nth-child(2)>td{
	border-bottom: 0;
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping .img>ul>li{
	height: 200px;
}
.content3 .left .title>ul>li:nth-child(1) .neirong .chanping .img::after{
	content: "";
	display: block;
	clear: both;
}
.content3 .left .title>ul>li:nth-child(4) .neirong{
	position: relative;
	left: -375px;
	width: 748px;
	border: 1px solid #ededed;
	display: none;
}
.content3 .left .title>ul>li:nth-child(4):hover>.neirong{
	display: block;
}
.content3 .left .title>ul>li:nth-child(4):hover .title>ul>li:nth-child(1) .neirong{
	display: none;
}
.content3 .left .title>ul>li:nth-child(4) .neirong>ul{
	margin-left: 50px;
	margin-top: 40px; 
	font-size: 14px;
	width: 616px;
}
.content3 .left .title>ul>li:nth-child(4) .neirong>ul>li{
	margin-bottom: 32px;
}
.content3 .left .title>ul>li:nth-child(4) .neirong>ul>li div:first-child{
	
	padding-bottom: 8px;
}
.content3 .left .title>ul>li:nth-child(4) .neirong>ul>li div:nth-child(2){
	line-height: 18px;
	color: #999;
}
.content3 .right{
	width: 300px;
	float: right;
	border: 1px solid #ededed;
}
.content3 .right .title{
	font-size: 18px;
	line-height: 41px;
	font-weight: 700;
	text-align: center;
	background-color: #f5f5f5;
}
.content3 .right .neirong>ul>li{
	margin: 24px 24px 0 24px;
	width: 250px;
	height: 318px;
	border-bottom: 1px solid #ededed;
	text-align: center;
}
.content3 .right .neirong>ul>li .font .name{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
}
.content3 .right .neirong>ul>li .font .name a{
	font-size: 14px;
    line-height: 1;
}
.content3 .right .neirong>ul>li .font .name a:hover{
	color: #bfae8c;
}
.content3 .right .neirong>ul>li .font .price span{
	color: #e36844;
	font-size: 14px;
}	
.content3 .right .neirong>ul>li .font .price i{
	font-size: 20px;
	color: #bfae8c;
}