.header{	
}
.header>.top_nav>.wrap{
	position: relative;
}
.header>.top_nav{
	background-color: #333;
	height: 36px;
}
.header .top_nav .left{
	float: left;
	height: 36px;
	line-height: 36px;
}
.header .top_nav .left a{
	color: #ccc;
	font-size: 12px;
}
.header .top_nav .right>ul{
	position: absolute;	
	right: 0;
	margin: 0.9em 0;
	padding: 0
}
.header .top_nav .right>ul>li{
	float: left;
	line-height: 1.4em;
	padding:0 0.9em;
	border-right: 0.5px solid #888;
}
.header .top_nav .right>ul>li:first-child,
.header .top_nav .right>ul>li:last-child{
	border-right: 0;
}
.header .top_nav .right>ul>li>a{
	color: #ccc;
}
.header .top_nav .right>ul>li>a:hover,
.header .top_nav .left a:hover{
	color: #fff;
}
.header .top_nav .right>ul>li:nth-child(7){
	position: relative;
}
.header .top_nav .right>ul>li:hover>.list{
	display: block;
}
.header .top_nav .right .list{
	width: 80px;
	border: 1px solid #ccc;
	position: absolute;
	left: 0px;
	top: 25px;
	text-align: center;
	display: none;
	z-index: 20;
	background-color: #fff;
}
.header .top_nav .right .list ul>li{
	border-bottom: 1px solid #ccc;
	width: 60px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
}
.header .top_nav .right .list ul>li:last-child{
	border: 0;
}
.header .top_nav .right .list ul>li>a{
	color: #999;
}
.header .top_nav .right .list ul>li>a:hover{
	color: #b4a078;
}
.header .center_logo{
	height:164px; 
}
.header .center_logo>.wrap{
	position: relative;
}
.header .center_logo .logo{
	width: 180px;
	height: 65px;
	background-image: url(../images/yanxuan_logo.png);
	position: absolute;
	top:50px;
	left: 455px;
}
.header .center_logo .search{
	float: right;
	margin-top: 75px;
	border-bottom: 1px solid #ccc; 
}
.center_logo_search{
	width: 272px;
	height: 22px;
	border: 0;
	outline: none;
}
.header .fa{
	font-size: 25px;
	color:#b4a078; 
}
.header .fa-search,
.header .fa-shopping-cart{
	float: right;
	margin-top: 75px;
}
.header .fa-shopping-cart{
	margin-left: 20px;
}
.header .bottom_nav::after{
	content: "";
	display: block;
	clear: both;
}
.header .bottom_nav>.wrap>ul>li{
	float: left;
	text-align: center;
	line-height: 40px;
	width: 83.8px;
	font-size: 14px;
	font-weight: 900;
	color: #b4a078;
}
.header .bottom_nav .wrap>ul>li>a:hover,
.header .bottom_nav .wrap>ul>li>a:hover>.bottom_nav ul>li,
.header .bottom_nav .wrap>ul>li:first-child a{
	color: #bfae8c;
	border-bottom: 2px solid #bfae8c;
}
.header .bottom_nav .sub_nav{
	border-bottom: 1px solid #bfae8c;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 88;
}
.header .bottom_nav .wrap>ul>li .sub_nav>ul>li:hover>.sub_nav>ul>li a{
	color: #bfae8c;
}
.header .bottom_nav .wrap>ul>li .sub_nav ul{
	margin: auto;
	width: 1120px;
}
.header .bottom_nav .sub_nav ul::after{
	content: "";
	display: block;
	clear: both;
}
.header .bottom_nav .sub_nav>ul>li{
	float: left;
	width: 120px;
	margin-left: 30px;
	margin-top: 20px;
	text-align: center;
}
.header .bottom_nav .sub_nav>ul>li .img{
	width: 44px;
	height: 44px;
	margin:0 auto;
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/居家/居家1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/居家/居家2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/居家/居家3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/居家/居家4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/居家/居家5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/居家/居家6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/居家/居家7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/居家/居家8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/居家/居家9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/居家/居家10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/居家/居家11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(2) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/居家/居家12.png);
}



.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/鞋包配饰/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/鞋包配饰/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/鞋包配饰/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/鞋包配饰/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/鞋包配饰/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/鞋包配饰/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/鞋包配饰/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/鞋包配饰/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/鞋包配饰/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/鞋包配饰/10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/鞋包配饰/11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/鞋包配饰/12.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(3) .sub_nav>ul>li:nth-child(13) .img{
	background-image: url(../images/鞋包配饰/13.png);
}


.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/服装/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/服装/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/服装/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/服装/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/服装/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/服装/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/服装/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/服装/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/服装/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/服装/10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/服装/11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/服装/12.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(13) .img{
	background-image: url(../images/服装/13.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(4) .sub_nav>ul>li:nth-child(14) .img{
	background-image: url(../images/服装/14.png);
}



.header .bottom_nav .wrap>ul>li:nth-child(5) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/电器/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(5) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/电器/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(5) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/电器/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(5) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/电器/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(5) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/电器/5.png);
}



.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/洗护/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/洗护/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/洗护/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/洗护/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/洗护/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/洗护/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/洗护/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/洗护/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/洗护/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(6) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/洗护/10.png);
}




.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/饮食/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/饮食/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/饮食/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/饮食/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/饮食/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/饮食/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/饮食/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/饮食/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/饮食/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/饮食/10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/饮食/11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/饮食/12.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(13) .img{
	background-image: url(../images/饮食/13.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(7) .sub_nav>ul>li:nth-child(14) .img{
	background-image: url(../images/饮食/14.png);
}



.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/餐厨/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/餐厨/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/餐厨/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/餐厨/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/餐厨/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/餐厨/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(8) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/餐厨/7.png);
}



.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/婴童/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/婴童/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/婴童/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/婴童/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/婴童/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/婴童/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/婴童/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/婴童/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/婴童/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/婴童/10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/婴童/11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(9) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/婴童/12.png);
}



.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/文体/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/文体/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/文体/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/文体/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/文体/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/文体/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/文体/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/文体/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/文体/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/文体/10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/文体/11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/文体/12.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(10) .sub_nav>ul>li:nth-child(13) .img{
	background-image: url(../images/文体/13.png);
}


.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(1) .img{
	background-image: url(../images/特色区/1.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(2) .img{
	background-image: url(../images/特色区/2.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(3) .img{
	background-image: url(../images/特色区/3.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(4) .img{
	background-image: url(../images/特色区/4.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(5) .img{
	background-image: url(../images/特色区/5.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(6) .img{
	background-image: url(../images/特色区/6.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(7) .img{
	background-image: url(../images/特色区/7.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(8) .img{
	background-image: url(../images/特色区/8.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(9) .img{
	background-image: url(../images/特色区/9.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(10) .img{
	background-image: url(../images/特色区/10.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(11) .img{
	background-image: url(../images/特色区/11.png);
}
.header .bottom_nav .wrap>ul>li:nth-child(11) .sub_nav>ul>li:nth-child(12) .img{
	background-image: url(../images/特色区/12.png);
}
.sub_nav a{
	line-height: 40px;
}
.sub_nav a:hover{
	color: #bfae8c;
}
.sub_nav{
	display: none;
	background-color: #fff;
}
.header .bottom_nav .wrap>ul>li:hover>.sub_nav{
	display: block;
}
.wrap{
	width: 1090px;
	margin: 0 auto;
}
.header .top_nav .wrap::after,
.header .center_logo .wrap::after{
	content: "";
	display: block;
	clear: both;
}






.container .content1{
	height: 420px;
	background-image: url(../images/顶部动图.jpg);
	animation:dingbu 20s both steps(8) infinite;
	margin: 0 auto;
	position: relative;
}	
@keyframes dingbu{
	100%{
		background-position: -15360px;
	}
}
.container .content1 .bottom_button{
	width: 250px;
	margin:auto;
	/*background-color: teal;*/
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -125px;
}
.container .content1 .bottom_button ul{
	display: flex;
	justify-content: space-around;
}
.container .content1 .bottom_button ul li{
	width:7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
}
.container .content1 .bottom_button ul li:hover{
	background-color: #a7936e;
	box-shadow: 0 0 10px #dfcead;
}



.container .content2 .wrap,
.container .content3 .wrap,
.container .content4 .wrap,
.container .content5 .wrap,
.container .content6 .wrap,
.container .content7 .wrap,
.container .content17 .wrap,
.container .content18 .wrap{
	width: 1090px;
	margin: 0 auto;
	margin-top: 30px;
}
.container .content2 .title .a1>h3,
.container .content3 .title .a1>h3,
.container .content4 .title .a1>h3,
.container .content5 .title .a1>h3,
.container .content6 .title .a1>h3,
.container .content7 .title .a1>h3,
.container .content17 .title .a1>h3,
.container .content18 .title .a1>h3{
	font-size: 28px;
	font-weight: 700px;
	float: left;
}
.container .content2 .title a:hover,
.container .content3 .title a:hover,
.container .content4 .title a:hover,
.container .content5 .title a:hover,
.container .content6 .title a:hover,
.container .content7 .title a:hover,
.container .content17 .title a:hover,
.container .content18 .title a:hover{
	color: #bfae8c;
}
.container .content2 .title span,
.container .content3 .title span,
.container .content17 .title span,
.container .content18 .title span{
	font-size: 14px;
	float: left;
	margin-left: 10px;
	line-height: 50px;
}
.container .content2 .title .a2,
.container .content3 .title .a2,
.container .content4 .title .a2,
.container .content5 .title .a2,
.container .content6 .title .a2,
.container .content7 .title .a2{
	font-size: 14px;
	float: right;
	line-height: 50px;
}
.container .content2 .title::after,
.container .content2 .link::after,
.container .content3 .title::after,
.container .content3 .link::after,
.container .content4 .title::after,
.container .content4 .link::after,
.container .content5 .title::after,
.container .content5 .link::after,
.container .content6 .title::after,
.container .content6 .link::after,
.container .content7 .title::after,
.container .content7 .link::after,
.container .content17 .title::after,
.container .content17 .link::after,
.container .content18 .title::after,
.container .content18 .link::after{
	content: "";
	display: block;
	clear: both;
}
.container .content2 .link>ul>li{
	float: left;
	width: 357px;
	height: 320px;
	margin-right: 9.5px;
	overflow: hidden;
}
.container .content2 .link>ul>li:nth-child(3),
.container .content2 .link>ul>li:nth-child(4){
	height: 155px;
	margin-right: 0;
}
.container .content2 .link>ul>li:nth-child(4){
	margin-top: 10px;
}
.container .content2 .link>ul>li .img{
	width: 100%;
	height: 100%;
	transition: transform 1s;
}
.container .content2 .link>ul>li:hover >.img{
	transform: scale(1.1);
}
.container .content2 .link>ul>li:nth-child(1) .img{
	background-image: url(../images/content2/content2_link_li1.png);
}
.container .content2 .link>ul>li:nth-child(2) .img{
	background-image: url(../images/content2/content2_link_li2.png);
}
.container .content2 .link>ul>li:nth-child(3) .img{
	background-image: url(../images/content2/content2_link_li3.png);
}
.container .content2 .link>ul>li:nth-child(4) .img{
	margin-top: 10px;
	background-image: url(../images/content2/content2_link_li4.png);
}

.container .content2 .link>ul li .font{
	position: absolute;
	width: 357px;
	z-index: 20;
}
.container .content2 .link>ul>li .font .name,
.container .content2 .link>ul>li .font .price{
	text-align: center;
}
.container .content2 .link>ul>li .font .name{
	margin: 48px 0 19px;
}
.container .content2 .link>ul>li:nth-child(3) .font .name,
.container .content2 .link>ul>li:nth-child(4) .font .name{
	margin: 32px 0 10px 20px;
	text-align: left;
}
.container .content2 .link>ul>li .font .price{
	padding-top: 17px;
	border-top: 1px solid #000;
	font-size: 14px;
	display: inline-block;	
	width: auto;
}
.container .content2 .link>ul>li:nth-child(3) .font .price,
.container .content2 .link>ul>li:nth-child(4) .font .price{
	margin-left: 20px;
}
.container .content2 .link>ul>li .name>span{
	font-size: 24px;
}


.container .content3 .wrap{
	position: relative;
}
.container .content3{
	height: 450px;
	margin-top: 60px;
}
.container .content3 .link>ul{
	display: flex;
	justify-content: space-between;
}
.container .content3 .link>ul>li{
	float: left;
	width: 265px;
	height: 344px;
}
.container .content3 .link>ul>li .img{
	width: 100%;
	height: 265px;
}
.container .content3 .link>ul>li .img>ul>li:first-child{
	background-color: #fff;
}
.container .content3 .link>ul>li .img>ul>li:last-child{
	position: relative;
	margin-top: -265px;
	opacity: 0;
}
.container .content3 .link>ul>li:hover>.img ul>li:first-child{
	opacity: 0;
}
.container .content3 .link>ul>li:hover>.img ul>li:last-child{
	opacity: 1;
}
.container .content3 .link>ul>li .font{
	text-align: center;
}
.container .content3 .link>ul>li:hover>.font{
	background-color: #f4f0ea;
}
.container .content3 .link>ul>li .font .top{
	margin-top: 5px;
}
.container .content3 .link>ul>li .font .top span{
	line-height: 30px;
	font-size: 12px;
	padding:2px;
	color: #fff;
}
.container .content3 .link>ul>li .font .top span:first-child{
	background-color: #f28f2d;
}
.container .content3 .link>ul>li .font .top span:nth-child(2){
	background-color: #e36844;
}
.container .content3 .link>ul>li .font .name{
	line-height: 20px;
}
.container .content3 .link>ul>li .font .name a:hover{
	color: #bfae8c;
}
.container .content3 .link>ul>li .font .price{
	font-size: 13px;
	line-height: 20px;
	color: #e36844;
}
.content3 .left_button,
.content3 .right_button{
	position: absolute;
	font-size: 50px;
}
.content3 .left_button i,
.content3 .right_button i{
	color: #d0c4af;
}
.content3 .left_button i:hover,
.content3 .right_button i:hover{
	color: #b19e7a;
}
.content3 .left_button{
	left: -50px;
	top: 50%;
	margin-top: -25px;
}	
.content3 .right_button{
	right: -50px;
	top: 50%;
	margin-top: -25px;
}



.content4{
	background-color: #f4f0ea;
	padding-bottom: 60px;
	padding-top: 30px;
}
.content4 .title ul{
	float: left;
	margin-left: 40px;
}
.content4 .title ul::after{
	content: "";
	display: block;
	clear: both;
}
.content4 .title ul li{
	float: left;
	line-height: 28px;
	margin-right: 60px;
	margin-top: 5px;
}
.content4 .title ul>li a{
	font-size: 14px;
}
.content4 .title ul>li:first-child{
	border-bottom: 2px solid #bfae8c;
}
.content4 .title ul>li:first-child a{
	color: #bfae8c;
}
.content4 .title ul>li:hover>a{
	color: #bfae8c;
}
.content4 .title ul>li:hover{
	border-bottom: 2px solid #bfae8c;
}
.content4 .link::after{
	content: "";
	display: block;
	clear: both;
}
.content4 .link ul>li{
	float: left;
	width: 223px;
	height: 260px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}
.content4 .link ul>li:first-child{
	width: 390px;
	height: 530px;
}
.content4 .link ul>li:nth-child(4),
.content4 .link ul>li:nth-child(7){
	margin-right: 0;
}
.content4 .link ul>li:nth-child(1),
.content4 .link ul>li:nth-child(5),
.content4 .link ul>li:nth-child(6),
.content4 .link ul>li:nth-child(7){
	margin-bottom: 0;
}
.content4 .link ul>li:first-child .top{
	height: 410px;
}
.content4 .link ul>li .top .img{
	transition: transform 1s;
	margin: 0 auto;
}
.content4 .link ul>li:first-child .top .img img{
	width: 320px;
	height: 320px;
	margin: 40px 35px 40px 35px;
}
.content4 .link ul>li .top{
	height: 180px;
	border-bottom: 1px solid #ededed;
	position: relative;
	overflow: hidden;
}
.content4 .link ul>li .top .img img{
	width: 180px;
	height: 180px;
	margin: 0 21.5px;
}
.content4 .link ul>li:hover>.top .img{
	transform: scale(1.09);
}
.content4 .link ul>li .top .little{
	border-radius: 5px;
	border:1px solid #bfae8c;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #f4f0ea;
	padding: 0 5px;
}
.content4 .link ul>li .top .little a{
	color: #bfae8c;
}
.content4 .link>ul>li .font{
	text-align: center;
}
.content4 .link>ul>li:first-child .font .font_top{
	margin-top: 15px;
}
.content4 .link>ul>li .font .font_top span{
	line-height: 30px;
	font-size: 12px;
	padding:4px 4px;
	color: #fff;
}
.content4 .link>ul>li .font .font_top span:first-child{
	background-color: #f28f2d;
}
.content4 .link>ul>li .font .font_top span:nth-child(2){
	background-color: #e36844;
}
.content4 .link>ul>li .font .name{
	line-height: 20px;
	font-size: 12px;
	margin-top: 30px;
}
.content4 .link>ul>li:nth-child(4) .font .name,
.content4 .link>ul>li:nth-child(5) .font .name,
.content4 .link>ul>li:nth-child(7) .font .name{
	margin-top: 0;
}
.content4 .link>ul>li:first-child .font .name{
	line-height: 20px;
	font-size: 18px;
	margin-top: 10px;
}
.content4 .link>ul>li .font .name a:hover{
	color: #bfae8c;
}
.content4 .link>ul>li .font .price{
	font-size: 13px;
	line-height: 18px;
	color: #e36844;
	margin-top: 5px;
}
.content4 .link>ul>li:first-child .font .price{
	font-size: 18px;
	line-height: 18px;
	color: #e36844;
	margin-top: 10px;
}





.content5{
	padding-top: 30px;
	padding-bottom: 60px;
}
.content5 .link{
	width: 100%;
	height: 377px;
}
.content5 .link ul>li{
	float: left;
	width: 432px;
	height: 187px;
	border: 1px solid #ededed;
	box-sizing: border-box;
}
.content5 .link ul>li:first-child{
	width: 224px;
	height: 374px;
	border: 0;
}
.content5 .link ul>li:first-child .bigimg,
.content5 .link ul>li:first-child .bigimg img{
	width: 100%;
	height: 100%;
}
.content5 .link ul>li:first-child .bigfont{
	width: 224px;
	padding-top: 60px;
	text-align: center;
	position: absolute;
}
.content5 .link ul>li:first-child .bigfont .screenhd{
	font-size: 28px;
	line-height: 36px;
}
.content5 .link ul>li:first-child .bigfont .line{
	width: 20px;
	height: 2px;
	background-color: #333;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 18px;
}
.content5 .link ul>li:first-child .bigfont .screencen{
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 18px;
}
.content5 .link ul>li:first-child .bigfont .screentime{
	margin-bottom: 50px;
}
.content5 .link ul>li:first-child .bigfont .screentime span{
	font-size: 18px;
	line-height: 40px;
}
.content5 .link ul>li:first-child .bigfont .screentime span:nth-child(odd){
	background-color: #615548;
	color: #fff;
	padding: 10px;
}
.content5 .link ul>li:first-child .bigfont a{
	color: #fff;
	padding: 10px 25px;
	background-color: #a7936e;
	border-radius: 30px;
}
.content5 .link ul>li::after{
	content: "";
	display: block;
	clear: both;
}
.content5 .link ul>li .img{
	width: 180px;
	height: 100%;
	overflow:hidden;
	transition: transform 1s;
	float: left;
}
.content5 .link ul>li:hover> .img{
	transform: scale(1.1);
}
.content5 .link ul>li .font{
	float: left;
	width: 250px;
	height: 173px;
	padding-top: 14px;
	/*box-sizing: border-box;*/
}
.content5 .link ul>li .font h2 a{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400px;
}
.content5 .link ul>li .font h2 a:hover{
	color: #bfae8c;
}
.content5 .link ul>li .font p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999;
	overflow: hidden;
}
.content5 .link ul>li .font .leave{
	width: 100%;
	padding-top: 14px;
	padding-bottom: 8px;
}
.content5 .link ul>li .font .leave::after{
	content: "";
	display: block;
	clear: both;
}
.content5 .link ul>li .font .leaveline{
	width: 150px;
	height: 8px;
	border: 1px solid #f2cecd;
	background-color: #ffe5e5;
	border-radius: 20px;
	box-sizing: border-box;
	float: left;
	margin: 2px 0
}
.content5 .link ul>li .font .leavefont{
	font-size: 14px;
	line-height: 14px;	
	margin-left: 10px;
	float: left;
}
.content5 .link ul>li .font .price span{
	font-size: 14px;
	line-height: 1;
}
.content5 .link ul>li .font .price>span:first-child{
	color: #be4141;
}
.content5 .link ul>li .font .price>span:first-child>span:first-child{
	font-size: 18px;
}
.content5 .link>ul>li .font .price>span:first-child>span:last-child{
	font-size: 24px;
	font-weight: 700;
	vertical-align: sub;
}
.content5 .link>ul>li .font .price>span:nth-child(2){
	color: #aaa;
	margin-left: 10px;
}
.content5 .link>ul>li .font .price>span:nth-child(2)>span{
	text-decoration: line-through;
}
.content5 .link>ul>li .font .button{
	width: 118px;
	height: 31px;
	margin-top: 18px;
	background-color: #be4141;
	text-align: center;
	line-height: 31px;
	font-size: 16px;
}
.content5 .link>ul>li .font .button:hover{
	background-color: #da4f4f;
}
.content5 .link>ul>li .font .button a{
	color: #fff;
}




.content6{
	background-color: #f4f0ea;
	padding-bottom: 60px;
	padding-top: 30px;
}
.content6 .link>ul>li{
	float: left;
	height: 376px;
	box-sizing: border-box;
	background-color: #fff;
}
.content6  .link>ul>li:first-child{
	width: 224px;
	position: relative;
}
.content6 .link>ul>li:nth-child(2){
	width: 624px;
	padding:0 17px 0 19px;
}
.content6 .link>ul>li:last-child{
	width: 242px;
	padding: 0 20px 0 22px;
	border-left: 1px solid #ededed;
}
.content6 .link>ul>li>.img{
	background-image: url(../images/content6/content6_link_ul_li1.jpg);
	overflow: hidden;
	width: 100%;
	height: 100%;
	animation:contentsix 8s both steps(2) infinite;
}
@keyframes contentsix{
	100%{
		background-position: -448px 0;
	}
}
.content6 .link>ul>li>.button{
	width: 224px;
	position: absolute;
	left:0;
	top: 50%;
	margin-top: -15px;
	display: flex;
	justify-content: space-between;
	/*display: none;*/
}
.content6 .link>ul>li:first-child:hover>.button{
	/*display: 	block;*/
}
.content6 .link>ul>li:nth-child(2) .headtitle{
	height: 56px;
	padding:0 19px 0 12px;
	border-bottom: 1px solid #ededed;
}
.content6 .link>ul>li:nth-child(2) .headtitle::after{
	content: "";
	display: block;
	clear: both;
}
.content6 .link>ul>li:nth-child(2) .headtitle .headtitle_title{
	float: left;
	font-size: 16px;
	line-height: 56px;
}
.content6 .link>ul>li:nth-child(2) .headtitle .headtitle_a{
	float: right;
	margin-top: 6px;
	line-height: 56px;
}
.content6 .link>ul>li:nth-child(2) .headtitle .headtitle_a a{
	font-size: 12px;
}
.content6 .link>ul>li:nth-child(2) .headtitle .headtitle_a a:hover{
	color: #bfae8c;
}
.content6 .link>ul>li:nth-child(2) .bottomul{
	margin-top: 20px;
}
.content6 .link>ul>li:nth-child(2) .bottomul::after{
	content: "";
	display: block;
	clear: both;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li{
	float: left;
	width: 284px;
	height: 130px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li::after{
	content: "";
	display: block;
	clear: both;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li:nth-child(even){
	margin-right: 0;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .img{
	width: 130px;
	height: 130px;
	background-color: #fbf9f6;
	float: left;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font{
	float: left;
	width: 130px;
	height: 130px;
	margin-left: 10px;
	position: relative;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .name{
	margin-top: 6px;
	font-size: 16px;
	line-height: 20px;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .name a:hover{
	color: #bfae8c;
}

.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .price div{
	font-size: 13px;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .price div:first-child{
	color: #be4141;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .price div:first-child>span:first-child{
	vertical-align: -2px;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .price div:first-child>span:last-child{
	font-size: 20px;
	font-weight: 700;
	vertical-align: -2px;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .price div:last-child{
	color: #aaa;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .price div:last-child>span{
	text-decoration: line-through;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .button{
	width: 88px;
	height: 26px;
	bottom: 10px;
	background-color: #be4141;
	padding: 2px 5px;
	text-align: center;
	line-height: 26px;
	position: absolute;
}
.content6 .link>ul>li:nth-child(2) .bottomul>ul>li .font .button a{
	color: #fff;
}
.content6 .link>ul>li:nth-child(3) ul>li{
	height: 188px;
}
.content6 .link>ul>li:nth-child(3) ul>li .top_title{
	height: 55px;
	box-sizing: border-box;
	padding: 19px 0 12px 0;
}
.content6 .link>ul>li:nth-child(3) ul>li .top_title::after{
	content: "";
	display: block;
	clear: both;
}
.content6 .link>ul>li:nth-child(3) ul>li .top_title .left{
	float: left;
	font-size: 16px;
}
.content6 .link>ul>li:nth-child(3) ul>li .top_title .right{
	float: right;
}
.content6 .link>ul>li:nth-child(3) ul>li .top_title .right a:hover{
	color: #bfae8c;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li{
	height: 50px;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li:first-child{
	margin-bottom: 20px;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .img{
	width: 50px;
	height: 50px;
	float: left;
	background-color: #fff;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title{
	overflow:hidden;
	float: right;
	width: 130px;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .name{
	margin: 4px 0 14px 0; 
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .name,
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .price{
	font-size: 14px;
	white-space: nowrap;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .name a:hover{
	color: #bfae8c;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .price{
	color: #be4141;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li{
	position: relative;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .tubiao{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #f5f1ea;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
}
.content6 .link>ul>li:nth-child(3) ul>li .bottomul ul>li .right_title .tubiao i{
	font-size: 18px;
	line-height: 24px;
	color: #bfae8c;
}





.content7 .title .center{
	float: right;
	height: 28px;
	padding-top: 16px;
	margin-right: 20px;
}
.content7 .title .center span{
	font-size: 14px;
}
.content7 .title .center span a{
	margin:0 10px;
}
.content7 .link{
	margin-bottom: 50px;
}
.content7 .link .bottomul::after{
	content: "";
	display: block;
	clear: both;
}
.content7 .link .top{
	height: 310px;
	margin-bottom: 20px;
}
.content7 .link .bottomul>ul{
	display: flex;
	justify-content: space-between;
}
.content7 .link .bottomul>ul>li{
	float: left;
	width: 265px;
	height: 361px;
}
.content7 .link .bottomul>ul>li .img{
	height: 265px;
	background-color: #f4f4f4;
	position: relative;
	overflow: hidden;
}
.content7 .link .bottomul>ul>li .img img{
	transition: transform 1s;
}
.content7 .link .bottomul>ul>li:hover>.img img{
	transform: scale(1.1);
}
.content7 .link .bottomul>ul>li .img .xiaobiao{
	background-color: #f4f0ea;
	border-radius: 5px;
	border: 1px solid #bfae8c;
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 2px 5px;
}
.content7 .link .bottomul>ul>li .img .xiaobiao a{
	color: #bfae8c;
}
.content7 .link .bottomul>ul>li .font{
	margin-top: 10px;
	text-align: center;
}
.content7 .link .bottomul>ul>li .font .font_top{
	height: 20px;
	margin-bottom: 3px;
}
.content7 .link .bottomul>ul>li .font .font_top>span{
	background-color: #e36844;
	color: #fff;
	line-height: 20px;
	padding: 3px 5px;
}
.content7 .link .bottomul>ul>li .font .font_top>span.xp{
	background-color: #b4a078;
}
.content7 .link .bottomul>ul>li .font .font_top>span.bp{
	background-color: #f28f2d;
}
.content7 .link .bottomul>ul>li .font .name{
	font-size: 14px;
	line-height:20px;
	font-weight: 600;
	margin-bottom: 4px;
}
.content7 .link .bottomul>ul>li .font .name a:hover{
	color: #bfae8c;
}
.content7 .link .bottomul>ul>li .font .price{
	color: #be4141;
	font-size: 14px;
}
.content7 .link .bottomul>ul>li .font .price span{
	color: #aaa;
	text-decoration: line-through;
}



.content17{
	margin-bottom: 50px;
}
.content17 .link>ul>li{
	float: left;
	width: 390px;
	height: 185px;
}
.content17 .link>ul>li:first-child{
	width: 690px;
	height: 380px;
	margin-right: 10px;
}
.content17 .link>ul>li:nth-child(2){
	margin-bottom: 10px;
}
.content17 .link>ul>li .img{
	height: 100%;
}





.content18{
	background-color: #f4f0ea;
	padding-bottom: 60px;
	padding-top: 30px;
}
.content18 .link>ul{
	display: flex;
	justify-content: space-between;
}
.content18 .link>ul>li{
	float: left;
	width: 355px;
	height: 492px;
	background-color: pink;
	position: relative;
}
.content18 .link>ul>li .img{
	height: 355px;
}
.content18 .link>ul>li .font{
	width: 345px;
	height: 186px;
	margin: 0 5px;
	position: absolute;
	bottom: 0;
	background-color: #fff;
}
.content18 .link>ul>li .font .big{
	box-sizing: border-box;
	height: 100%;
	padding:20px 15px;
}
.content18 .link>ul>li .font .big .people{
	margin-bottom: 12px;
}
.content18 .link>ul>li .font .big .people span{
	font-size: 13px;
	line-height: 1;
	color: #999;
}
.content18 .link>ul>li .font .big .name{
	max-width: 190px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 16px;
}
.content18 .link>ul>li .font .big .name span{
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
}